<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<br>

<% if @article.image.exists? %>
  <p>
    <%= image_tag @article.image.url(:medium) %><br/>
  </p>
  <br>
<% end %>

<p><%= @article.body %></p>

<br>

<h3>
  <%= if @article.comments.size != 1
        "#{@article.comments.size} Comments"
      else
        "#{@article.comments.size} Comment"
      end
  %>
</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "Edit", edit_article_path(@article) %>
<br>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Delete the article?"} %>
<br>
<%= link_to "<< Back to Articles List", articles_path %>
